<div class="four-column-section">
    <div class="four-column-container">
        <ul class="four-column-wrapper">
            
            <li>
                <div class="inner">
                    <img src="{{ "image.webp" | asset_url }}" alt="Collars &amp; Harnesses">
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>