<div class="four-column-section">
    <div class="container">
        <ul class="wrapper">
            
            <li>
                <div class="inner">
                    <img src="{{ image.webp | img_url: '800x800' }}" alt="Collars &amp; Harnesses">
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>