<div class="four-column-section">
        <ul>
            
            <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>

            <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>
          <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>
          <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars &amp; Harnesses</h3>
                    </div>
                </div>
            </li>
            
        </ul>
</div>