<div class="four-column-section">
  <div class="container">
        <ul>
            
            <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars Harnesses</h3>
                    </div>
                </div>
            </li>

            <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars Harnesses</h3>
                    </div>
                </div>
            </li>
          <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars Harnesses</h3>
                    </div>
                </div>
            </li>
          <li>
                <div class="inner-section">
                    <img src="{{ "image.webp" | asset_url }}" />
                    <div class="content">
                        <h3>Collars Harnesses</h3>
                    </div>
                </div>
            </li>
            
        </ul>
  </div>
</div>