<link href="{{ 'four-product-carousel-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="four-product-carousel-section">
  <div class="container">
    <div class="heading-content">
      <h2>Our Top Sellers</h2>
    </div>
  </div>
  
</div>