<link href="{{ 'mbb-four-product-carousel-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

 
<div class="four-product-carousel-section">
  <img class="wave-img" src="{{ "path-2.svg" |asset_url}}" alt="">
  <div class="container">
    <div class="heading-content">
      <h2>Our Top Sellers</h2>
    </div>
  </div>
  
</div>