<div class="full-width-text-section">
   <div class="text-container">
      <div class="content">
          <p>The perfect harness! This harness is a game changer. Very comfortable for the pup, easy on and off.</p>
          <span class="author">— Leoh L.</span>
      </div>
  </div>
</div>