<div class="half-content-half-slider-section">
  <div class="container">
    <div class="half-content">
      <h2>Best Sellers</h2>
      <p>At Wildebeest we're passionate about creating practical, clever dog products you & Beest will enjoy using everyday for a lifetime.</p>
      <a href="">shop all</a>
    </div>
    <div class="half-slider">
      test
    </div>
  </div>
</div>