<div class="half-content-half-slider-section">
  <div class="container">
    <div class="half-content">
      <h2>Best Sellers</h2>
      <p>At Wildebeest we're passionate about creating practical, clever dog products you & Beest will enjoy using everyday for a lifetime.</p>
      <a href="">shop all</a>
    </div>
    <div class="half-slider">
        <div class="container">
          <div>your content</div>
          <div>your content</div>
          <div>your content</div>
        </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
          $('.container').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });


</script>