<div class="half-content-half-slider-section">
  <div class="container">
    <div class="half-content">
      <h2>Best Sellers</h2>
      <p>At Wildebeest we're passionate about creating practical, clever dog products you & Beest will enjoy using everyday for a lifetime.</p>
      <a href="">shop all</a>
    </div>
    <div class="half-slider">
        <div class="slick-slider">
  <div class="element element-1">1</div>
  <div class="element element-2">2</div>
  <div class="element element-3">3</div>
  <div class="element element-4">4</div>
  <div class="element element-5">4</div>
  <div class="element element-6">6</div>
  <div class="element element-7">7</div>
  <div class="element element-8">8</div>
  <div class="element element-9">9</div>
  <div class="element element-10">10</div>
</div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
          $(".slick-slider").slick({
   slidesToShow: 3,
   infinite:false,
   slidesToScroll: 1,
   autoplay: true,
   autoplaySpeed: 2000
     // dots: false, Boolean
    // arrows: false, Boolean
  });


// Image Slider Demo:
// https://codepen.io/vone8/pen/gOajmOo
    });


</script>