<div class="slick-slider">
  <div>
    <div class="content-section">
       <h6>Simple, quality dog gear for everyday</h6>
       <h2>Enjoy happy walks ahead!</h2>
       <a href="https://www.google.co.in/" tabindex="0">Shop Collars &amp; Harnesses</a>
     </div>
    <div class="image-section">
    <img src="https://thumbs.dreamstime.com/b/print-wallpaper-fantasy-design-modern-art-fog-forest-colored-mystic-background-magical-magic-artistic-fairytale-dream-113837169.jpg" />
    </div>
  </div>
</div>

<script>
   $(".slick-slider").slick({
   slidesToShow: 1,
   dots: true,
   arrows: false, 
  });

</script>