<div class="slick-slider">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>

<script>
   $(".slick-slider").slick({
   slidesToShow: 1,
   infinite:false,
   slidesToScroll: 1,
   autoplaySpeed: 2000,
   dots: false,
   arrows: false, 
  });

</script>