<div class="slick-slider">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>

<script>
  $( document ).ready(function() {
      $(".slick-slider").slick({
       slidesToShow: 3,
       slidesToScroll: 1,
       autoplay: true,
       autoplaySpeed: 2000
      });
    });
</script>