<link href="{{ 'mbb-hero-banner.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="hero-slider">
  <div class="left-container">
    <div class="image-section">
      <img src="{{ "half-photo.webp" |asset_url}}" alt="">
    </div>
  </div>
  <div class="right-container">
    <img class="top-right-image" src="{{ "flower-top.svg" |asset_url}}" alt="">
    <div class="content">
      <h2>LIMITED EDITION</h2>
      <h1>BAR SOAPS</h1>
      <p>New spring arrivals starting at $5.99</p>
      <a href="#"><span>Shop Now</span></a>
    </div>
  </div>
</div>