<link href="{{ 'global-style.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ 'mbb-half-heading-half-list-two.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">


<div class="mbb-half-heading-half-list-two">
  <div class="container-1200">
    <div class="heading">
      <h2>DEEP DIVE</h2>
    </div>
    <ul class="flex-wrap">
      <li>
        <div class="li-wrap">
        <div class="img-dot"> </div>
        <h3>Our Story</h3>
        <p>Our humble beginnings</p>
        <a href="#" class="border-cta">Learn More</a>
        </div>
      </li>
      <li>
        <div class="img-dot"> </div>
        <h3>Our Story</h3>
        <p>Our humble beginnings</p>
        <a href="#" class="border-cta">Learn More</a>
      </li>
      <li>
        <div class="img-dot"> </div>
        <h3>Our Story</h3>
        <p>Our humble beginnings</p>
        <a href="#" class="border-cta">Learn More</a>
      </li>
      <li>
        <div class="img-dot"> </div>
        <h3>Our Story</h3>
        <p>Our humble beginnings</p>
        <a href="#" class="border-cta">Learn More</a>
      </li>
    </ul>
  </div>
</div>