<link href="{{ 'mbb-three-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="mbb-three-column-section">
  <h2>The LATEST FROM OUR JOURNAL</h2>
  <div class="container">
    <ul>
      <li>
        <div class="image-section">
          <img src="{{ "blog-img.webp" | asset_url}}" />
        </div>
        <div class="content">
          <h6>Products</h6>
          <h3>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum </h3>
          <a href="#" class="border-cta">Read More</a>
        </div>
      </li>
      <li class="card-position">
        <div class="image-section">
          <img src="{{ "blog-img.webp" | asset_url}}" />
        </div>
        <div class="content">
          <h6>Products</h6>
          <h3>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum </h3>
          <a href="#" class="border-cta">Read More</a>
        </div>
      </li>
      <li>
        <div class="image-section">
          <img src="{{ "blog-img.webp" | asset_url}}" />
        </div>
        <div class="content">
          <h6>Products</h6>
          <h3>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum </h3>
          <a href="#" class="border-cta">Read More</a>
        </div>
      </li>
    </ul>
    <a href="#" class="primery-btn">Read Our Journal</a>
  </div>
</div>