<link href="{{ 'mbb-half-heading-half-list.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="half-heading-half-list">
  <img class="wave-img" src="{{ "path-2.svg" |asset_url}}" alt="">
  <div class="container">
    <div class="heading">
      <h2>DEEP DIVE</h2>
    </div>
    <ul>
      <li>
        <div class="img-dot"> </div>
      </li>
    </ul>
    
  </div>
  
</div>