<link href="{{ 'global-style.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ 'mbb-half-heading-half-list-two.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">


<div class="mbb-half-heading-half-list-two">
  <div class="container-1200">
    <div class="heading">
      <h2>DEEP DIVE</h2>
    </div>
    <ul>
      <li>test</li>
    </ul>
  </div>
</div>