link href="{{ 'mbb-hero-banner.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<div class="hero-slider">
  <div class="left-container">
    <img src="{{ "half-photo.webp" |asset_url}}" alt="">
  </div>
  <div class="right-container">
    test
  </div>
</div>