<link href="{{ 'mbb-two-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

 
<div class="mbb-two-column-section">
  <img class="wave-img" src="{{ "wave-bg.svg" |asset_url}}" alt="">
  <div class="container">
    <div class="heading-content">
      <h2>OUR COLLECTIONS</h2>
      <a href="#">Shop All</a>
    </div>

    <div class="carousel">
      <ul>
        <li>
          <img src="{{ "collection-1-img.webp" |asset_url}}" />
          <a href="#">Shop Bar Soaps</a>
        </li>
        <li>
          <img src="{{ "collection-1-img.webp" |asset_url}}" />
          <a href="#">Shop Gifts</a>
        </li>
        
      </ul>
    </div>
  </div>
  
</div>