<style>
/*   Global */
  *{
    margin:0;
    padding:0;
  }
 .main-container{ 
    width: 100%;
    background: red;
  .container-1200{
    max-width: 1200px;
    padding: 0 8px;
  }
 }
/*   Global */
</style>

<div class="main-container">
  <div class="container-1200">
    <div class="heading">DEEP DIVE</div>
    <div class="content">test</div>
  </div>
</div>