<link href="{{ 'global-style.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ 'mbb-half-heading-half-list-two.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">


<div class="main-container">
  <div class="container-1200">
    <div class="heading">DEEP DIVE</div>
    <div class="content">test</div>
  </div>
</div>