<link href="{{ 'mbb-three-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="mbb-three-column-section">
  <h2>The LATEST FROM OUR JOURNAL</h2>
  <div class="container">
    <ul>
      <li>
        <div class="image-section">
          <img src="{{ "blog-img.webp" | asset_url}}" />
        </div>
      </li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
</div>