<link href="{{ 'mbb-four-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="mbb-four-column-section">
  <div class="container">
    <ul>
      <li>
        <div class="img-dot"> </div>
        <h3>Free Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
        <li>
        <div class="img-dot"> </div>
        <h3>Free Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <div class="img-dot"> </div>
        <h3>Free Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
      <li>
        <div class="img-dot"> </div>
        <h3>Free Shipping</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </li>
    </ul>
  </div>
  
</div>