.image-section{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.image-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slide {
    position: relative;
}
.slick-slide {
    height: 800px;
    position: relative;
    overflow: hidden;
}
.content-section {
    z-index: 2;
    text-align: center;
/*     width: 100%; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 80px 30px;
}
.content-section a .btn-text {
    padding: 10px 20px;
    border: 1px solid #000;
    max-width: 310px;
    margin: 0 auto;
    border-radius: 50px;
    text-transform: uppercase;
    color: #241f21;
    font-size: 16px;
    letter-spacing: 2.67px;
    
}
.content-section a{
    text-decoration: none;
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    text-transform: uppercase;
    color: #241f21;
    font-size: 14px;
    letter-spacing: 2.67px;
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    color: #241f21;
    font-size: 40px;
}
.slick-dots {
    position: absolute;
    left: 0px;
    right: 0;
    margin: 0 auto;
    bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slick-dots li.slick-active, .slick-dots li:hover {
    background: #fff;
}
.slick-dots li {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    margin-right: 10px;
    height: 15px;
    border: 1px solid #fff;
    list-style:none;
}
/* .slick-dots button {
    font-size: 0px;
} */
button {
    background: transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 0;
    width: 16px;
    cursor: pointer;
    border: none;
    cursor: pointer;
    opacity: 0;
}
.full-width-text-section {
    padding: 80px 0;
}
.text-container {
    margin: 0 auto;
    padding: 0 30px;
/*     width: 100%; */
    max-width: 1040px;
   
}
.full-width-text-section .content {
    text-align: center;
}
.full-width-text-section .content p{
    padding: 0 55px;
    position: relative;
    font-family: Headland One,serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    display: block;
    margin-bottom: 18px;
    font-family: Headland One,serif;
}
.full-width-text-section .content p:after {
    content: "";
    width: 40px;
    height: 27px;
    position: absolute;
    background: url(left-icon.png) no-repeat center/40px;
    top: 0;
    left: 0;
}
.full-width-text-section .content p:before {
    content: "";
    transform: rotate(180deg);
    background: url(left-icon.png) no-repeat center/40px;
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 27px;
    position: absolute;
}
.full-width-text-section .content .author{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: 3px;
    color: #241f21;
}
.slick-track:before{
  background: url(thred.png) no-repeat center/40px;
}
/* .slick-slider .slick-list{
    height: 500px;
    width: 105vw !important
  } */

.four-column-section .container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.four-column-section ul{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
/*   margin-left: -30px; */
}
.four-column-section ul li{
/*     width: 25%;
    list-style: none;
    padding-left: 30px;
    margin-bottom: 30px; */
    width: 22%;
    list-style: none;
    padding: 15px;
}
.four-column-section ul li .inner-section{
/*   position: relative;
  width: 100%;
  height: 34vh;
  display:flex; */
    width: 100%;
    position: relative;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.four-column-section ul li .inner-section img{
/*   width: 100%;
  position: absolute;
  object-fit: contain; */
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.four-column-section ul li .inner-section .content{
    text-align: center;
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
}
.four-column-section ul li .inner-section .content h3{
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

.half-content-half-slider-section{
    background: #f9f6f2;
    padding: 79px 0 70px;
    overflow: hidden;
}

.half-content-half-slider-section .container{
  display:flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
}
.half-content-half-slider-section .container .half-content{
  flex: 1;
  padding: 0 40px;
}
.half-content-half-slider-section .container .half-content h2{
  margin-bottom: 15px;
  color: #241f21;
  font-family: Headland One,serif;
  font-size: 30px;
  font-weight: 400;
}

.half-content-half-slider-section .container .half-content p{
    font-family: Quattrocento Sans,sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.53;
    letter-spacing: normal;
    color: #241f21;
    margin: 0;
}

.half-content-half-slider-section .container .half-content a{
    display: inline-block;
    font-size: 16px;
    font-family: Quattrocento Sans,sans-serif;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.53;
    letter-spacing: 2.67px;
    text-align: center;
    color: #241f21;
    width: 100%;
    border-radius: 26px;
    border: solid 1px #241f21;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px;
    max-width: 260px;
}
.half-content-half-slider-section .container .half-content a:hover{
  background: #241f21;
  color: #fff;
}

.half-content-half-slider-section .container .half-slider{
  flex: 4;
  width: 100%;
  max-width: 1050px;
}
.half-content-half-slider-section .container .half-slider .container .image-section{
   position: relative;
   background: #fff;
    border-radius: 50%;
    margin: 0 auto 20px;
    width: 200px;
    height: 200px;   
}
.half-content-half-slider-section .container .half-slider .container .slick-list{
  height: 330px;
}

.slick-prev{
    opacity: 40px !important;
    width: 19px;
    height: 19px;
}

.half-content-half-slider-section .container .half-slider .slick-initialized .slick-slide{
  margin: 20px;
  height: 330px;
}

.half-content-half-slider-section .container .half-slider .container .image-section img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    left: 0;
    top: 0;
}
.half-content-half-slider-section .container .half-slider .container h5{
  font-family: QuattrocentoSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.43;
  letter-spacing: 3px;
  color: #241f21;
  text-transform: uppercase;
}
.half-content-half-slider-section .container .half-slider .container h6{
  font-family: QuattrocentoSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.43;
  letter-spacing: 3px;
  color: #241f21;
  text-transform: uppercase;
  margin: 0;
}

@media only screen and (min-width: 800px){
.slick-slider .slide {
    height: 500px;
}
  .slick-slider .slick-list{
    height: 500px;
  }
  
}