{% assign var = "hello" %}
{{ var }}
<br>
<br>
Array--
{% assign array_string = "1,2,3,4,5" %}
{% assign array = array_string | split: "," %}
{{ array }}
<br>
{% assign array_string_loop = "1,2,3,4,5" %}
{% assign array_loop = array_string_loop | split: "," %}

<ul>
  {% for array_list in array %}
    <li>{{ array_list }}</li>
    {% endfor %}
</ul>

{% comment %} {% section 'hero-banner' %}
{% section 'full-width-text-component' %}
{% section 'four-column-section' %}
{% section 'half-content-half-slider' %} {% endcomment %}

{% comment %}
{% section 'mbb-hero-banner' %}
{% section 'four-product-carousel-section' %}
{% section 'mbb-two-column-section' %}
{% section 'mbb-half-heading-half-list' %}
{% section 'mbb-three-column-section' %}
{% endcomment %}

{% comment %}
{% section 'mbb-hero-banner' %}
{% section 'four-product-carousel-section' %}
{% section 'mbb-two-column-section' %}
{% section 'mbb-half-heading-half-list' %}
{% section 'mbb-three-column-section' %}
{% section 'mbb-social-section' %}
{% section 'mbb-four-column-section' %}
{% section 'test' %}
{% endcomment %}


{% comment %}
{% section 'mbb-half-heading-half-list-two' %}
{% endcomment %}