<div>
    <h1>H1 Mrs Eaves 55pt Dark</h1>
    <h2>H2 Mrs Eaves 45pt Dark</h2>
    <h3>H3 Mrs Eaves 35pt Dark</h3>
    <h4>H4 Mrs Eaves 25pt Dark</h4>
    <p>
        Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy
        <strong>Body Text 16pt Bold Gilroy</strong>
        <b>Body Text 16pt Bold Gilroy</b>
    </p>
    <p class="p-small">
        Body Text 14pt Regular Gilroy Center Body Text 14pt Regular Gilroy
        <strong>Body Text 16pt Bold Gilroy</strong>
        <b>Body Text 16pt Bold Gilroy</b>
    </p>
    <a href="#" class="btn-border-black">shop now</a>
    <a href="#" class="btn-border-white">shop now</a>
    <a href="#" class="btn-white">shop now</a>
    <a href="#" class="btn-white big">shop now</a>
    <a href="#" class="btn-black">shop now</a>
    <a href="#" class="btn-black big">shop now</a>
</div>

